
.Board {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.Board .Column, .Board .EmptyColumn {
  height: 100%;
  width: 350px;
  border-right:  1px solid #ccc;
  display: table-cell;
}

.scrl{
  height: 100%;
  overflow:hidden;
}
