.Board {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.Board .Column, .Board .EmptyColumn {
  display: table-cell;
  vertical-align:top;
  margin: 0;
  padding: 0;
}

.Board .Column {
  border-right:  1px solid #ccc;
  width: 300px;
}

.Board .EmptyColumn {
  width: auto;
}

.Board .EmptyColumn nav {
  min-width: 280px;
}
