.Board {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.Board .Column, .Board .EmptyColumn {
  height: 100%;
  border-right:  1px solid #ccc;
  display: table-cell;
}

.Board .Column {
  width: 280px;
}

.Board .EmptyColumn {
  width: auto;
}

.Board .EmptyColumn nav {
  min-width: 280px;
}


.scrl{
  height: 100%;
  overflow:hidden;
}
