.AdForm {
  min-width: 500px;
}


.AdForm .img-item {
  width: 90px;
  height: 90px;
  line-height: 80px;
}

.AdForm .img-item img {
  width: 88px;
  height: 88px;
}


.AdForm .upload {

    text-align: center;
    vertical-align: middle;
}



.AdForm .upload-progress {
  position: relative;
  bottom: 0px;
  width: 100%;
  line-height: 2em;
  margin-top: -2em;
}



.upload span {
  height: 100%;
  width: 100%;
  color: #777;
}

.upload span:hover {
  background-color: #eee;
}

.img-remove {
  display: block;
  position: absolute;
  top:0px;
  right:0px;
  line-height: 1em;
}

.img-remove button {
  height:30px;
  width:30px;
  background-color: rgba(255, 255, 255, 0.8);
}



.upload {

}



.downshift-container {
  flexGrow: 1;
  position: relative;
}

.downshift-paper {
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  left: 0;
  right: 0;
  max-height: 250px;
  overflow-y: auto;
}
