.AdDetails {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 50px;
}

.AdDetails .img-item {
  width: 150px;
  height: 150px;
  line-height: 144px;

}

.AdDetails .img-item img {
  width: 148px;
}

.AdDetails-header {
  display: flex;
}

.AdDetails-info {
  flex: 1 1 auto;
}

.AdDetails-actions {

  text-align: right;
}


  /*
.AdDetails .img-fill {
  object-fit: cover;
  display: inline-block;
  overflow: hidden;
  height: 152px;
  width: 152px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  line-height: 148px;
  position: relative;
}*/

.AdCard {
  margin: 10px 10px 10px 10px;
}

.AdCard .card-header {
  font-size: 0.9rem;
}

.AdCard .img-cover {
  margin-bottom: 20px;
}

.AdCard .card-content, .AdCard .img-cover img {
  cursor: pointer;
}

.retry-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: -110px;
  left: 0px;
  height: 0px;
}



pre {
  white-space: pre-wrap;       /* css-3 */
}

.details-modal-root > div {
  background-color: #555;
}
