.img-fill{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:150px;
  /*width:300px;*/
  margin: 0 auto;
}

.img-fill img, .img-fill svg {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.AdCard .card-header {
  font-size: 0.9rem;
}

.AdCard {
  margin: 0 5px 10px 5px;
  position: relative;
}

.retry-link {
  display: flex;
    justify-content: center;
    align-items: center;
  height: 100%;
  width:100%;
  position: relative;
  top:-85px;
  left:0;
}
